* {
    margin: 0;
    box-sizing: 0;

}

body {
    background: linear-gradient(135deg, #000000, #1d11fd);
}

.header {
    display: flex;
    justify-content: space-between;
    height: 10vh;
    padding: 10px 10px;
    margin:0 20px;
}

.header img {
    height: 25px;
    width: 25px;
}

.header input {
    padding: 2px;
    border: none;
    border-radius: 4px;
}

.header div {
    display: flex;
    align-items: center;
    gap: 8px;
    color: rgb(45, 111, 244);
}


.header button {
    border-radius: 12px;
    padding: 4px 12px;
    border: none;
    color: white;
    font-weight: 700;
    cursor: pointer;

}

.btn_search {
    background-color: red;
}

.btn_login {
    background-color: rgb(7, 135, 7);
}

.btn_search:hover {
    box-shadow: 5px 5px 10px rgba(193, 191, 191, 0.541);
    background-color: rgb(165, 11, 11);
}

.btn_login:hover {
    box-shadow: 5px 5px 10px rgba(193, 191, 191, 0.541);
    background-color: rgb(4, 98, 4);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 86vh;
}

.form_info {
    background-color: white;
    padding: 25px;
    border-radius: 6px;
    box-shadow: 0, 0, 0, 0.4, gray;
    display: none;
    margin: 20px;
}

.error_message {
    padding: 10px 20px;
    color: rgb(119, 65, 65);
    background-color: rgb(239, 126, 126);
    border-radius: 5px;
}


span {
    color: springgreen;
    font-weight: bolder;
}

.active {
    display: block;
}

h2 {
    text-align: center;
    color: blue;
    margin-bottom: 10px;
}

input,
select {
    width: 100%;
    margin: 10px 0;
    height: 35px;
    border: none;
    background-color: rgb(236, 236, 241);
    border-radius: 6px;
}

button {
    width: 100%;
    height: 30px;
    margin: 10px 0;
    color: white;
    background-color: blue;
    border: none;
    border-radius: 4px;
    font-weight: bold;
}

p {
    text-align: center;
}

a {
    text-decoration: none;
    color: brown;
}

a:hover {
    text-decoration: underline;
    color: blue;
}

button:hover {
    background-color: rgb(14, 14, 150);
}

.box {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}