* {
    margin: 0;
    box-sizing: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 50px;
    background: linear-gradient(135deg, #000000, #1d11fd);
    padding: 10px 10px;
}

.header img {
    height: 25px;
    width: 25px;
}

.header input {
    padding: 2px;
    border: none;
    border-radius: 4px;
}

.header div {
    display: flex;
    align-items: center;
    gap: 8px;
    color: rgb(45, 111, 244);
}


.header button {
    border-radius: 12px;
    padding: 4px 12px;
    border: none;
    color: white;
    font-weight: 700;
    cursor: pointer;

}

.btn_search {
    background-color: red;
}

.btn_login {
    background-color: rgb(7, 135, 7);
}

.btn_search:hover {
    box-shadow: 5px 5px 10px rgba(193, 191, 191, 0.541);
    background-color: rgb(165, 11, 11);
}

.btn_login:hover {
    box-shadow: 5px 5px 10px rgba(193, 191, 191, 0.541);
    background-color: rgb(4, 98, 4);
}

.carousel {
    position: relative;
    width: 1163,3px;
    height: 480px;
    overflow: hidden;
    margin: 0;

}

.slides {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    min-width: 100%;
    height: 400px;
    object-fit: cover;
}

#prev,
#next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #fff;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 2px;
}

#prev {
    left: 10px;
}

#next {
    right: 10px;
}




.footer {
    background: linear-gradient(135deg, #000000, #1d11fd);
    color: #fff;
    padding: 40px 0;
    margin-top: 40px;
    font-family: Arial, sans-serif;
}

.footer-container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-section {
    width: 30%;
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-section h3 {
    margin-bottom: 15px;
    color: #f2c94c;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin: 8px 0;
}

.footer-section ul li a {
    color: #ccc;
    text-decoration: none;
}

.footer-section ul li a:hover {
    color: #fff;
}

.footer-bottom {
    text-align: center;
    padding: 20px 0 0;
    border-top: 1px solid #444;
    margin-top: 20px;
    font-size: 14px;
}
