* {
    margin: 0;
    box-sizing: 0;
}

body {
    background: linear-gradient(to left, #03015e, #150e95);
}

.header {
    display: flex;
    justify-content: space-between;
    height: 50px;
    padding: 20px 50px;
}

.header img {
    height: 25px;
    width: 25px;
}

.header input {
    padding: 5px;
    border: none;
    border-radius: 4px;
    width: 350px;
}

.header div {
    display: flex;
    align-items: center;
    gap: 8px;
    color: rgb(45, 111, 244);
}


.header button {
    border-radius: 12px;
    padding: 4px 12px;
    border: none;
    color: white;
    font-weight: 700;
    cursor: pointer;

}

.btn_search {
    background-color: red;
}

.btn_login {
    background-color: rgb(7, 135, 7);
}

.btn_search:hover {
    box-shadow: 5px 5px 10px rgba(193, 191, 191, 0.541);
    background-color: rgb(165, 11, 11);
}

.btn_login:hover {
    box-shadow: 5px 5px 10px rgba(193, 191, 191, 0.541);
    background-color: rgb(4, 98, 4);
}

.carousel {
    position: relative;
    width: 1163, 3px;
    height: 490px;
    overflow: hidden;
    margin: 0;
    border: 2px dashed white;
    border-bottom-left-radius: 19px;
    border-bottom-right-radius: 19px;
    box-shadow: 5px 5px 10px rgba(193, 191, 191, 0.541);

}

.slides {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    min-width: 100%;
    height: 490px;
    object-fit: cover;
}

#prev,
#next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #fff;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 20px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 5px 5px 10px rgba(193, 191, 191, 0.541);
}

#prev {
    left: 10px;
}

#next {
    right: 10px;
}

.entreprise {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin: 40px 40px;
}

.section_entreprise h1,
.section_produits h1 {
    margin: 40px 0;
    text-align: center;
    color: white;
    font-size: 45px;
    text-decoration: underline;
}

.entreprise img {
    width: 400px;
    height: 400px;
}

.entreprise h2 {
    color: white;
    font-size: 30px;
    margin-bottom: 10px;
}

.desc_hanoute {
    color: white;
    border: 1.2px solid white;
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 5px 5px 10px rgba(193, 191, 191, 0.541);
}

.footer {
    color: #fff;
    padding: 40px 0;
    margin-top: 40px;
    font-family: Arial, sans-serif;
    border-top: 1px solid #444;

}

.footer-container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-section {
    width: 30%;
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-section h3 {
    margin-bottom: 15px;
    color: #f2c94c;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin: 8px 0;
}

.footer-section ul li a {
    color: #ccc;
    text-decoration: none;
}

.footer-section ul li a:hover {
    color: #fff;
}

.footer-bottom {
    text-align: center;
    padding: 20px 0 0;
    border-top: 1px solid #444;
    margin-top: 20px;
    font-size: 14px;
}

.produits {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.product_card img {

    width: 300px;
    height: 224px;
    border-radius: 20px;
}

.product_card {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
    border-radius: 20px;
    background-color: white;

}

.product_card span{
    color: rgb(255, 149, 0);
    font-weight: bold;
}

.product_card H3{
    color: blue;
    font-weight: bold;
}


.flex {
    padding: 2px 8px;
    display: flex;
    justify-content: space-between;
}