.stistique {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 50px 50px 40px;
    gap: 20px;

}

.stistique div {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}


.color_users {
    background: linear-gradient(135deg, #43e97b, #38f9d7);
    color: #fff;
    font-weight: bold;
}

.color_admin {
    background: linear-gradient(135deg, #3a7bd5, #00d2ff);
    color: #fff;
    font-weight: bold;

}

.color_employees {
    background: linear-gradient(135deg, #f7971e, #ffd200);
    color: #fff;
    font-weight: bold;

}


.color_Produits {
    background: linear-gradient(135deg, #8e2de2, #4a00e0);
    color: #fff;
    font-weight: bold;

}

.color_Disponible {
    background: linear-gradient(135deg, #56ab2f, #a8e063);
    color: #fff;
    font-weight: bold;

}

.color_nonDisponible {
    background: linear-gradient(135deg, #ee0400, #820200);
    color: #fff;
    font-weight: bold;
}

.color_nonDisponible:hover {
    transform: translateY(-12px) scale(1.02);
    top: -20%;
    left: -20%;
}




.color_Disponible:hover {
    transform: translateY(-12px) scale(1.02);
    top: -20%;
    left: -20%;
}


.color_nonDisponible:hover {
    transform: translateY(-12px) scale(1.02);
    top: -20%;
    left: -20%;
}
.color_users:hover {
    transform: translateY(-12px) scale(1.02);
    top: -20%;
    left: -20%;
}
.color_admin:hover {
    transform: translateY(-12px) scale(1.02);
    top: -20%;
    left: -20%;
}
.color_employees:hover {
    transform: translateY(-12px) scale(1.02);
    top: -20%;
    left: -20%;
}
.color_Produits:hover {
    transform: translateY(-12px) scale(1.02);
    top: -20%;
    left: -20%;
}