body{
    background-color: #4155dc;
    box-sizing: 0;
    ;
}
.form_info {
    background-color: rgb(250, 250, 250);
    padding: 25px;
    margin: 60px;
    border-radius: 6px;
    box-shadow: 0, 0, 0, 0.4, gray;
    border: 1px solid gray;
}

.container_form_add {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.error_message {
    padding: 10px 20px;
    color: rgb(119, 65, 65);
    background-color: rgb(239, 126, 126);
    border-radius: 5px;
}

input,
select ,textarea{
    width: 100%;
    margin: 10px 0;
    height: 35px;
    border: none;
    background-color: rgb(236, 236, 241);
    border-radius: 6px;
}

.form_info button {
    height: 30px;
    margin: 10px 0;
    color: white;
    background-color: blue;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
}

.form_info button:hover{
    background-color: rgb(62, 10, 184);
}

#cancel_add_uses{
    background-color: red;
}

#cancel_add_uses a{
    color: white;
}
 
#cancel_add_uses:hover{
    background-color: rgb(205, 11, 11);
}

.form_info h3 {
    text-align: center;
    color: #4155dc;
    font-size: x-large;
}