h2 {
    color: #4155dc;
    margin-left: 40px;
}


.title_users_section {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-right: 20px;
}

.title_users_section button {
    background-color: rgb(0, 188, 47);
    border: none;
    border-radius: 4px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    height: 20px;
    padding: 4px 10px;

}

.title_users_section button:hover {
    background-color: rgb(3, 116, 31);
}


.form_info {
    background-color: rgb(250, 250, 250);
    padding: 25px;
    border-radius: 6px;
    box-shadow: 0, 0, 0, 0.4, gray;
    border: 1px solid gray;
}

.container_form_add {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

.error_message {
    padding: 10px 20px;
    color: rgb(119, 65, 65);
    background-color: rgb(239, 126, 126);
    border-radius: 5px;
}

input,
select {
    width: 100%;
    margin: 10px 0;
    height: 35px;
    border: none;
    background-color: rgb(236, 236, 241);
    border-radius: 6px;
}

.form_info button {
    width: 100%;
    height: 30px;
    margin: 10px 0;
    color: white;
    background-color: blue;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
}

.form_info button:hover{
    background-color: rgb(62, 10, 184);
}

#cancel_add_uses{
    background-color: red;
}
#cancel_add_uses:hover{
    background-color: rgb(205, 11, 11);
}

.form_info h3 {
    text-align: center;
    color: #4155dc;
    font-size: x-large;
}


table {
  margin: 0 40px;
  border-collapse: collapse;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  width: 92%;
}

th, td {
  border: none;
  padding: 15px;
  text-align: left;
}

th {
  background-color: #432ecc;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

tr {
  transition: background-color 0.3s ease;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #e6e6e6;
  cursor: pointer;
  transform: scale(1.01);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

td {
  vertical-align: top;
}

table caption {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

td a {
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

td .delete-btn {
  background-color: #e74c3c;
  margin-right: 10px;
}

td .delete-btn:hover {
  background-color: #c0392b;
}

td .update-btn {
  background-color: #0ba010;
}

td .update-btn:hover {
  background-color: #056d08;
}


.btn {
  padding: 6px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-btn {
  background-color: #e74c3c;
  color: #fff;
}

.delete-btn:hover {
  background-color: #c0392b;
}

.update-btn {
  background-color: #3498db;
  color: #fff;
}

.update-btn:hover {
  background-color: #2980b9;
}



.flex_button{
  display: flex;
  justify-content: space-evenly;
}
